<nb-card [nbSpinner]="dataLoading" nbSpinnerSize="medium" nbSpinnerStatus="primary">
    <nb-card-header>
        <span>Class Rooms</span>
        <div align="left">
            <button nbButton status="primary" size="small" (click)="loadData()">Refresh</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" [formGroup]="classRoomForm" (ngSubmit)="onSubmit()">
                  <input type="text" nbInput formControlName="name">
                  <input type="hidden" formControlName="id">
                    <button type="submit" nbButton status="primary" [disabled]="classRoomForm.invalid">{{classRoomForm.get('id').value ? 'Update' : 'Add'}}</button>
                    <button type="reset" nbButton status="danger">Cancel</button>
                </form>
            </div>
            <hr>
            <div class="col-md-12">
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" *ngIf="!dataLoading">
                        <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let classRoom of classRooms;index as i;">
                            <td>{{classRoom.id}}</td>
                            <td>{{classRoom.name}}</td>
                            <td>
                              <button nbButton status="info" size="tiny" (click)="editClassRoom(classRoom)">Edit</button>
                              <button nbButton status="danger" size="tiny" (click)="deleteClassRoom(classRoom, i)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
